// Font sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 25px;
$medium: 16px;
$small: 14px;
$x-samll:12px;

// peso de fuentes
$light: 300;
$regular: 400;
$bold: 700;

// Colores
$white:#fff;
$platinum: #e6e7e7;
$light-gray:#d1d1d1;

// etiquetas h1 
h1 {
    font-family: Raleway;
    font-weight: 700;
}