#Hero_section {
  width: 100%;
}

#Hero_section div {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  #Hero_section div {
    width: 280px;
    position: absolute;
    top: 150px;
    margin-left: 150px;
  }
}
