#Precios h1 {
    text-align: center;
    color: $white;
}
#Precios .row {
    margin: 0 auto;
    width: 65%;
    
}
#Precios {
    background-color: #333745;
    position: relative;

}
#Precios img {
    position: absolute;
    top: -80px;
    z-index: -1;
}
#Precios .card-body hr {
    height: 1px;
    background-color: darkgray;
}
#Precios .card{
    height: 25rem;
}
#Precios .card-body .lis {
    visibility: hidden;
}



// mediaquery
@media (min-width:768px) {
    #Precios {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(1,500px);
        align-items: center;
        column-gap: 10px;
    }
    #Precios .card {
        width: 80%;
        margin: 0 auto;
    }
    #Precios .row {
        margin-bottom: 2rem;
        width: 55%;
    }
        
    #Precios .row .col {
    width: 36%;
    }
    #Precios img {
        position: absolute;
        top: -200px;
        z-index: -1;
    }
}