#Caracteristicas .contenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1,400px);
    align-items: center;
    column-gap: 10px;
}  
    
#Caracteristicas h1 {
    
    text-align: center;
}
#Caracteristicas .caracteristicas__texto {
    width: 100%;
}
#Caracteristicas .contenedor {
    width: 70%;
    margin: 3rem auto;
}

// Caracteristicas 

@media (min-width:768px){
    #Caracteristicas .contenedor {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(1,400px);
        align-items: center;
        column-gap: 10px;
        margin: 0 auto;
}
        
       
    #Caracteristicas .caracteristicas__texto {
        width: 100%;
    }
    #Caracteristicas{
        height: 700px;
    }
  
        
        
}

