#Hero_section {
    width: 100%;
    .wrap {
        padding: 0 100px;
    }
}
#Hero_section >div {
    width: 335px;
    position: relative;
    top: 150px;
}
#Hero_section >img {
    width: 100%;
}   
